/* #region common */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --res-dark: #333333;
    --res-black: black;
    --res-white: white;
    --res-accent: #9792e4;
    --res-primary: #0085fc;
    --res-secondary: #b5ddff; 
    --res-light: #5a6e7f;
    --res-attention: #fdc15f;
}

body
{
    font-family: 'Roboto', sans-serif;
}


/* #endregion common */

/* #region utility */
.container
{
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.container-sm
{
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.d_flex
{
    display: flex;
}

.flex_column
{
    flex-direction: column;
}

.self_end
{
    align-self: end;
}


.justify_content_start
{
    justify-content: start;
}


.justify_content_center
{
    justify-content: center;
}

.justify_content_between
{
    justify-content: space-between;
}

.align_items_center
{
    align-items: center;
}

.align_items_end
{
    align-items: end;
}

.text_white
{
    color: var(--res-white);
}

.text_primary
{
    color: var(--res-primary);
}

.text_left
{
    text-align: left;
}

.text_center
{
    text-align: center;
}

.text_right
{
    text-align: right;
}

.text_uppercase
{
    text-transform: uppercase;
}

[class^="col-"]
{
    padding: 0.5rem;
}

.col-4
{
    width: calc((100%/12)*4);
}

.col-6
{
    width: calc((100%/12)*6);
}

.col-8
{
    width: calc((100%/12)*8);
}

.col-12
{
    width: 100%;
}

.p_12
{
    padding: 3rem;
}

.py_4
{
    padding: 1rem 0;
}

.py_12
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pb_6
{
    padding-bottom: 1.5rem;
}

.pt_6
{
    padding-top: 1.5rem;
}

.pb_0
{
    padding-bottom: 0 !important;
}

.my_4
{
    margin: 2rem 0;
}

.my_2
{
    margin: 1rem 0;
}

.inline_menu
{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

a
{
    text-decoration: none;
}

.fw_bold
{
    font-weight: bold;
}
.fw_lighter
{
    font-weight: lighter;
}

.fs_1
{
    font-size: 0.75rem;
}

.fs_2
{
    font-size: 1rem;
}

.fs_4
{
    font-size: 2rem;
}


.btn
{
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin: 0.25rem;
}

.btn_lg
{
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

.btn_circle
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn_light
{
    background-color: var(--res-white);
    color: var(--res-black);
}


.btn_primary
{
    background-color: var(--res-primary);
    color: var(--res-white);
}

.btn_accent
{
    background-color: var(--res-accent);
    color: var(--res-white);
}
.bg_secondary
{
    background-color: var(--res-secondary);
}

.bg_accent
{
    background-color: var(--res-accent);
}

img
{
    max-width: 100%;
}

p
{
    line-height: 2rem;
}

h2
{
    font-size: 2.5rem;
}

/* #endregion utility */


/* #region debug */

/* .debug header
{
     height: 80px; 
}   */

.debug main
{
    min-height: 2000px;
    background-color: greenyellow;
}

.debug footer
{
    height: 300px;
}

.debug [class^="col-"]
{
    border: solid 1px red;
    min-height: 200px;
}

.debug .testimonials .avatar
{
    background-color: darkblue;
}

/* #endregion debug */


/* #region header */
header
{
    background-color: var(--res-primary);
    padding: 0.75rem 0;
    color: var(--res-white);
}

.menu .dekstop
{
    display: none;
    align-items: center;

    & ul a
    {
        text-decoration: none;
        color: var(--res-white);
    }
}



/* #endregion header */

/* #region main */

.demo_banner
{
    padding-top: 2rem;
    padding-bottom: 4rem;

    & .card
    {
        min-height: 100%;
        border-radius: 1rem;
        padding: 1rem;

        & h3 
        {
            font-size: 1.5rem;
            color: var(--res-primary);
            padding: 2rem 0;
        }
    }

    & p
    {
        font-weight: bold;
        color: var(--res-light);
    }

    & img.phone 
    {
        width: 240px;
        display: block;
    }

}

.planning
{
    padding: 3rem 0;
    & .card.left
    {
        & img
        {
            margin-bottom: 3rem;
        }
    }

    & .card.right
    {
        background-color: var(--res-white);
        border-radius: 2rem;
        padding: 2rem;
    }

}

.planning, .benefits, .call_to_action
{
    background-color: var(--res-accent);
}

.testimonials
{
    & .testimonials_intro_text
    {
        text-align: center;
        padding: 2rem 0;

        & h5
        {
            margin: 1rem 0;
        }

        & h2
        {
            color: var(--res-accent);
        }
    }
    & .card
    {
        min-height: 150px;
        background-color: var(--res-accent);
        margin: 1rem 0;
        border-radius: 1rem;
        align-items: center;
        padding: 1rem;
    }

    & .text
    {
        padding: 1rem;
        color: var(--res-white);
    }

}

.avatar
{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 100%;
    flex-shrink: 0; /* in questo modo il cerchio  non si restringe quanto mettiamo il testo */
    object-fit: cover;

}

.benefits
{
    & h2
    {
        padding: 2rem 0;
        text-align: center;
        color: var(--res-white);
    }
    & .card
    {
        background-color: var(--res-white);
        padding: 1rem;
        border-radius: 1rem;
        
        & h3, h4
        {
            color: var(--res-accent);
            margin-bottom: 1rem;
        }

        & h3
        {

            font-size: 3rem;
        }

        & p
        {
            color: var(--res-light);
        }
    }
}

.about
{
    & h2
    {
        padding-top: 2rem;
        color: var(--res-accent);
    }

    & h4
    {
        padding: 1rem 0;
        color: var(--res-accent);
        line-height: 1.5rem;
    }

    & .avatar_wrapper
    {
        display: inline-flex;
        position: relative;
        & i
        {
            position: absolute;
            top: 0;
            right: 0;
            color: var(--res-accent);
        }

    }
}

.call_to_action
{
    padding: 3rem 0;
    color: var(--res-white);
    & h2
    {
        color: var(--res-attention);
        padding: 1rem;
    }
}



/* #endregion main*/

/* #region footer */
footer
{
    background-color: var(--res-dark);
    color: var(--res-white);
    text-align: center;
    
    & a
    {
        color: var(--res-accent);
    }
    & p
    {
        padding: 1.5rem 0;
    }
}
/* #endregion footer */

/* #region responsive */
@media screen and (min-width: 768px) 
{
    .container
    {
        max-width: 740px;
    }

    .flex_md_row
    {
        flex-direction: row;
    }

    .justify_content_md_start
    {
        justify-content: start;
    }

    .menu .dekstop
    {
        display: flex;

    }

    .menu .mobile
    {
        display: none;
    }


   .col-md-4
   {
    width: calc(100%/12*4);
   }

   .col-md-5
   {
    width: calc(100%/12*5);
   }

   .col-md-6
   {
    width: 50%;
   }

   .col-md-7
   {
    width: calc(100%/12*7);
   }

   .col-md-8
   {
    width: calc(100%/12*8);
   }

   .col-md-12
   {
    width: 100%;
   }
    
}

@media screen and (min-width: 1200px) 
{
    .container
    {
        max-width: 1024px;
    }

   .col-lg-4
   {
    width: calc(100%/12*4);
   }

   .col-lg-6
   {
    width: 50%;
   }

   .col-lg-8
   {
    width: calc(100%/12*8);
   }

   .col-lg-12
   {
    width: 100%;
   }
    
}
/* #endregion responsive */

